$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$playerSize: 640px;
.container{
  margin-left:300px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  background: #111;
}

.buttonSet {
  margin-top: 10px;

  .btn {
    float: left;
  }
}
#youtubeWrapper{
  position:relative;
  width: $playerSize;
}

#timer {
  background: rgba(0,0,0,0.35);
  z-index: 2;
  position: absolute;
  bottom: 45%;
  color: whitesmoke;
  padding: 5px 20px;
  text-align: center;
  line-height: 45px;
  width: $playerSize;
  margin: 0 auto;
}

#clear {
  float:right;
  margin-right: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.foot {
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  color: #f5f5f5;
  left: 0; bottom: 0;
  position:absolute;
}


/* NAV*/
nav{
  position: fixed;
  height: 100%;
  overflow-y: hidden;

  &:hover {
    overflow-y: scroll;
  }

  li {
    list-style: none;
    padding: 0 15px 0;
    img{
      margin-left: 10px;
      float:right;
      width: 20px; height: 20px;
    }
  }
}
.navHeader {
  color: white;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
#wrapper{
  text-align: center;
  margin-top:60px;
}

.buttonSet .btn{
  margin-right:10px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
