$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$playerSize: 640px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #111;
}

.buttonSet {
  margin-top: 10px;

  .btn {
    float: left;
  }
}
#youtubeWrapper{
  position:relative;
  width: $playerSize;
}

#timer {
  background: rgba(0,0,0,0.7);
  z-index: 2;
  position: absolute;
  bottom: 45%;
  color: whitesmoke;
  padding: 5px 20px;
  text-align: center;
  line-height: 45px;
  width: $playerSize;
  margin: 0 auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.foot {
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  color: #f5f5f5;
  left: 0; bottom: 0;
  position:absolute;
}


/* NAV*/
ul.nav > li {
  padding-left: 20px;

  & > a{
    padding-top: 0;
    padding-bottom: 0;
  }
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #f5f5f5;
  text-shadow: 0 1px 0 rgba(26, 26, 26, 0.83);
  text-transform: uppercase;

  &.nav-list {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
#wrapper{
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
