<nav class="pull-left">
    <ul class="nav nav-pills nav-stacked span3">
        <li ng-repeat="v in videoCollection" >
            <a>{{v.link}}<img data-ng-show="v.watched" src="images/check.png"/></a>
        </li>
    </ul>
</nav>

<div class="container" >
    <div class="header">
        <h3 class="text-muted">batu</h3>
    </div>

    <div id="wrapper">
        <youtube videos="videoCollection"></youtube>
    </div>


    <div class="footer">
        <p>pra minha familia ♥</p>
    </div>
</div>
