<nav class="pull-left">
    <ul class="nav nav-list nav-stacked span3">
        <li ng-repeat-start="(group, videos) in groupedCollection" class="nav-header">{{group}}</li>
        <li ng-repeat="v in videos">
            <a>{{v.link}}<img data-ng-show="v.watched" src="images/check.png"/></a>
        </li>
        <br data-ng-hide="true" ng-repeat-end/>
    </ul>
</nav>

<div class="container" >
    <div id="wrapper">
        <youtube videos="videoCollection"></youtube>
    </div>

    <div class="foot">
        <p>para minha familia ♥</p>
    </div>
</div>
